html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent; 
}

body {
    line-height: 1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
}

.ui-datepicker td {
    border: medium none !important;
    padding: 0 !important;
}

#inicial-form .ui-menu .ui-menu-list .ui-widget-header, #inicial-form .ui-menu .ui-separator {
    width: 99%;
}

#inicial-form .ui-menu .ui-menuitem {
    width: 100%;
    padding: 2px;
}

#inicial-form .ui-state-hover {
    width: 95%;
}

#inicial-form .ui-panel {
    padding: 0 !important;
}

#inicial-form .ui-panel .ui-panel-content {
    padding: 0.1em;
    margin-top: 8px;
}

#dialog-cadastro-form .ui-picklist.ui-widget td {
    border: none;
    padding-left: 0px;
}

.conteudo {
    background-color: #ffffff;
    width: 500px;
    height: auto;
    border: 2px solid;
    border-radius: 25px;
    padding: 8px;
    margin: 100px auto auto;
}

.conteudo_cadastro {
    background-color: #ffffff;
    width: 580px;
    height: auto;
    border: 2px solid;
    border-radius: 25px;
    padding: 8px;
    margin: 100px auto auto;
}

.conteudo_grafico {
    background-color: #ffffff;
    width: 700px;
    height: auto;
    border: 2px solid;
    border-radius: 25px;
    padding: 8px;
    margin: 100px auto auto;
}

.conteudo a {
    text-align: center;
}

.conteudo h1, .conteudo_cadastro h1 {
    text-align: center;
}

.topo {
    vertical-align: top;
<<<<<<< HEAD
=======
    width: 40%;
>>>>>>> 25e340a2bfb3a3f2721f9973869767c91b88cf19
}
